.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  color: white;
  height: auto;
  background: linear-gradient(360deg, #9f93dc, #222222);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 33s ease infinite;
  -moz-animation: AnimationName 33s ease infinite;
  animation: AnimationName 33s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 94%
    }
    50% {
      background-position: 100% 7%
    }
    100% {
      background-position: 0% 94%
    }
  }

  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 94%
    }
    50% {
      background-position: 100% 7%
    }
    100% {
      background-position: 0% 94%
    }
  }

  @keyframes AnimationName {
    0% {
      background-position: 0% 94%
    }
    50% {
      background-position: 100% 7%
    }
    100% {
      background-position: 0% 94%
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffff18;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row-wrap;
  align-items: center;
}

.App-slug {
  text-align: left;
  padding-left: 1em;
  line-height: .5;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*
@keyframes App-logo-spin {
   from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 
COLOR KEY

blue 259fd9-
black 2f3139-
pink ea526f-
green b0ff92-
purp 9f93dc
*/

.gauge-wrapper {
  display: flex !important;
  flex-direction: row-wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff18;
  padding: 1rem;
}
@media (max-width:700px) {
 .gauge-wrapper {
   flex-direction: column;
 }
}

.gauge-container {
  display: flex;
  flex-direction: column;
  width: 325px;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.live {
  color: #b0ff92;
  border: #b0ff92 solid 2px;
  padding: 0.75rem;
  border-radius: 15px;
}

.status {
  padding: 1rem;
}

